@tailwind base;
@tailwind components;
@tailwind utilities;

/* For large screens */
.aspect-video {
  height: 400px; /* Set a specific height for large screens */
  width: 300px;
}

/* For medium screens */
@media screen and (max-width: 1024px) {
  .aspect-video {
    height: calc(50vw - 100px); /* Adjust height for medium screens */
    /* Assuming a 2:3 aspect ratio (height: width) */
    width: calc((50vw - 100px) * 0.75); /* Calculate width for a 2:3 aspect ratio */
  }
}

/* For small screens */
@media screen and (max-width: 600px) {
  .aspect-video {
    height: calc(100vw - 50px); /* Adjust height for small screens */
    /* Assuming a 2:3 aspect ratio (height: width) */
    width: calc((100vw - 50px) * 0.5); /* Calculate width for a 2:3 aspect ratio */
  }
}
@media screen and (max-width: 450px) {
  .aspect-video {
    height: calc(100vw - 50px)* 0.45; /* Adjust height for small screens */
    /* Assuming a 2:3 aspect ratio (height: width) */
    width: calc((100vw - 50px) * 0.45); /* Calculate width for a 2:3 aspect ratio */
  }
}



