@tailwind base;
@tailwind components;
@tailwind utilities;


.aspect-w-1 {
    width: 100%;
  }
  
  .aspect-h-1 {
    height: 0;
    padding-bottom: 100%; /* 1:1 aspect ratio */
  }

  .tooltip:hover::after {
    content: attr(title);
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 20em; /* Change this to adjust the font size */
    z-index: 1;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    filter: brightness(0.5); /* Initial title slightly dimmed */
  }
  
  .overlay-text:hover {
    transform: translateY(0);
    filter: brightness(1); /* Title highlighted on hover */
  }
  
  img {
    transition: filter 0.5s ease;
  }
  
  img:hover {
    filter: blur(2px); /* Image slightly blurred on hover */
  }
  